[package]
name = "backend_rust"
version = "0.1.0"
authors = ["thong.nguyen <thong.nguyen@mservice.com.vn>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
# [profile.release]
# lto = true #thin/off/false
# opt-level = 2
[profile.dev]
split-debuginfo = "unpacked"

[features]
go-faster=[]

[dependencies]
#framework
actix = "0.12"
actix-web = "3"
#actix-files = "0.5"
actix-cors = "0.5"
#actix-session = "0.4.1"
actix-web-httpauth = "0.5"
actix-web-grants = "2.2"

#message broker
nats = "0.15"

#stored, persistent
diesel = { version = "1.4", features = ["chrono", "postgres", "r2d2", "uuidv07", "numeric"] }
diesel_migrations = "1.4"
# postgres = "0.19"
# r2d2 = "0.8.9"
# eventstore = "1.0.0"
#cache
# mobc = "0.7"
# mobc-redis = "0.7"
redis = { version = "0.21", features = ["tokio-comp", "connection-manager"] }

#Serialize
serde = "1.0"
serde_derive = "1.0"
serde_json ="1.0"
#capnp = "0.14.1"
#capnpc = "0.14.3"
#capnp-futures = "0.14.1"
#capnp-rpc = "0.14.1"
# json = "0.12"

#thread, async
futures = "0.3"
tokio =  { version = "1.12", features = ["full"]}
#failure = "0.1.8"
#pin-project = "1.0.7"

#mailer
# lettre = "0.9"
# lettre_email = "0.9"

#validator
validator = {version = "0.14", features = ["phone"]}
validator_derive = { version = "0.14", features = ["phone"] }

#util
once_cell = "1.5"
# url = "2.1"
listenfd = "0.3"
#reqwest = "0.11"
#native-tls = "0.2.4"
envy = "0.4"
log = "0.4"
dotenv = "0.15"
env_logger = "0.9"
derive_more = "0.99"
#rand = "0.8"
lazy_static ="1.4"
uuid = { version = "0.8.1", features = ["serde", "v4"]}
libreauth = "0.14"

#elastic = "0.21.0-pre.5"
#elastic_derive = "0.21.0-pre.5"
#jwt = "*"
#meilies-client  = "*"
chrono = "*"
