[package]
name = "backend_rust"
version = "0.1.0"
authors = ["thong.nguyen <thong.nguyen@mservice.com.vn>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
# [profile.release]
# lto = true #thin/off/false
# opt-level = 2
[profile.dev]
split-debuginfo = "unpacked"

[dependencies]
#framework
actix = "0.11"
actix-web = { version = "=4.0.0-beta.5", features = ["openssl"] }
actix-service = "=2.0.0-beta.5"
actix-rt = "2.2.0"
actix-files = "0.6.0-beta.4"
actix-cors = "0.6.0-beta.1"
actix-session = "0.5.0-beta.1"
#message broker
nats = "0.9.8"

#stored, persistant
diesel = { version = "1.4.5", features = ["chrono", "postgres", "r2d2", "uuidv07", "numeric"] }
# r2d2 = {version = "0.8"}
#cache
postgres = "0.19"
mobc = "0.7"
mobc-redis = "0.7"
redis = { version = "0.20", features = ["tokio-comp"] }

#Serialize
serde = "1.0"
serde_derive = "1.0"
serde_json ="1.0"
capnp = "0.14.1"
capnpc = "0.14.3"
capnp-futures = "0.14.1"
capnp-rpc = "0.14.1"
json = "0.12"

#thread, async
futures = "0.3"
tokio =  { version = "1.5", features = ["signal"]} 
failure = "0.1.8"
pin-project = "1.0.7"

#mailer
lettre = "0.9"
lettre_email = "0.9"

#validator
validator = {version = "0.13", features = ["phone"]}
validator_derive = { version = "0.13", features = ["phone"] }

#time
chrono = { version = "0.4", features = ["serde"] }

#crypto
libreauth = "0.14"
base64 = "0.13"
openssl = { version = "0.10" }
jsonwebtoken = "8.0.0-beta.2"

#util
once_cell = "1.5"
url = "2.1"
listenfd = "0.3"
reqwest = "0.11"
native-tls = "0.2.4"
envy = "0.4"
log = "0.4"
dotenv = "0.15"
env_logger = "0.8"
derive_more = "0.99"
rand = "0.8"
lazy_static ="1.4"
uuid = { version = "0.8.1", features = ["serde", "v4"]}